@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

h1 {
    font-size: 2.125rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.5rem;
}

.normal {
    font-size: 1rem;
}

.tiny {
    font-size: 0.5rem;
}

.header-box-like-margin {
    margin: 1rem 2rem 0.5rem 1.5rem;
}

.header-box {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 2rem 0.5rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.login {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    input {
        width: 100%;
        padding: 5px;
        border-radius: 8px;
        color: theme('colors.slate.700')
    }
}

.btn {
    width: 100%;
    max-width: 250px;
    padding: 5px;
    border-radius: 8px;
}

.main-btn {
    background-color: theme('colors.blue.500');
    color: theme('colors.slate.200');
    text-align: center;
}

.secondary-btn {
    border: 2px solid theme('colors.blue.500');
    color: theme('colors.blue.500');
    text-align: center;
}


